* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(225, 146, 10);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

nav span {
  color: rgb(190, 189, 189);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav div {
  margin-right: 200px;
}
nav div button {
  background-color: rgb(58, 57, 57);
  border: none;
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
  color: rgb(245, 246, 242);
  cursor: pointer;
  border-radius: 5px;
}

/*------- addData component styling---------- */
.add_container {
  top: 10px;
  position: relative;
  /* min-height: 20vh; */
  padding-bottom: 40px;
  width: 80vw;
  margin: auto;
  border: 1px solid grey;
  box-sizing: border-box;
  width: fit-content;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table thead tr {
  background-color: rgb(225, 146, 10);
  color: rgb(80, 79, 79);
}
table thead tr th {
  padding: 5px;
  text-align: left;
}
table tbody tr input {
  border: none;
  padding: 5px;
  border: 1px solid rgb(67, 67, 27);
  border-radius: 5px;
}
table tbody tr input:focus{
    border: none;
    outline: none;
    background-color:  rgb(225, 146, 10);
}
.add_container button {
  background-color: rgb(225, 146, 10);
  color: rgb(87, 86, 86);
  border: none;
  border: 1px solid gray;
  padding: 5px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 5px;
}
.submit_btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/*------- retrive component styling---------- */

.retrive_container {
  position: relative;
  padding-top: 10px;
  border: 1px solid rgb(225, 146, 10);
  width: 60vw;
  height: 40vh;
  margin: auto;
}
.retrive_container h2 {
  text-align: center;
  color: rgb(72, 71, 71);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(225, 146, 10);
}
.retrive_container input {
  position: absolute;
  margin-top: 10px;
  left: 30px;
  padding: 5px;
}
.retrive_container button {
  position: absolute;
  margin-top: 10px;
  left: 27%;
  border: 2px solid rgb(132, 65, 1);
  background-color:  rgb(225, 146, 10);
  padding: 5px;
  border-radius: 5px;
  color: rgb(213, 211, 211);
}

.retrive_container h1 {
 position: absolute;
 left: 40%;
 top: 50%;
}
.retrive_container .items{
position: absolute;
left: 30px;
top: 36%;
}


.home{
  background-color:  rgb(64, 202, 237);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home button{
 background-color: rgb(234, 124, 6);
 border: none;
 padding: 10px 20px 10px 20px ;
 font-size: 20px;
 cursor: pointer;
 border-radius: 5px;
 color: white;
}